<%- include('../partials/header'); -%>
<div class="sidebar">
    <div class="container">
    <ul>
        <li >
            <div class="box">
                <a href="/doctor-details">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                    <polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                </svg>
                <p>Details</p>
                </a>
            </div>
        </li>
        <li >
            <div class="box">
                <a href="/doctor-view-user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" 
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                        class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12"
                        cy="7" r="4"></circle>
                    </svg>
                      
                <p>View User</p>
                </a>
            </div>
        </li>
        <li >
            <div class="box">
                <a href="/doctor-request-chat">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" 
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-message-circle">
                    <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 
                    21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                    </path>
                </svg>
                <p>View Request</p>
                </a>
            </div>
        </li>
        <li class="logout">
            <div class="box">
                <a href="/">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <p>Logout</p>
                </a>
            </div>
        </li>
      
    </ul>
</div>
</div>

 <!-- ---------------------------------------------------------------------------------------------------------------------- -->

 <div class="right-container">
    <div class="right-position1">
       <div class="red-border-rectangle">
           <p class="admin-form">
               Doctor
               <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" 
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
               class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
               </svg>
           </p>
       </div>
    </div>
</div>

<div class="right-container text-design">
   <div class="right-position2">
       <img class="img-position" src="/images/boy.png" alt="boy "> 
   </div>
</div>

<div class="right-container">
   <div class="right-position4">
       <p class="text-design ">Kyle Dee</p>
   </div>
</div>


<div class="middle-container-viewDoctor">
    <h2 class="text-design data">SESSION</h2> 
</div>

<!--  USE SOME SORT OF FORM HERE -->

<div class="middle-container-request">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1199.5" height="96" viewBox="0 0 1199.5 96">
    <defs>
      <filter id="Rectangle_58" x="1042.5" y="0" width="157" height="96" filterUnits="userSpaceOnUse">
        <feOffset dy="3" input="SourceAlpha"/>
        <feGaussianBlur stdDeviation="7.5" result="blur"/>
        <feFlood flood-opacity="0.161"/>
        <feComposite operator="in" in2="blur"/>
        <feComposite in="SourceGraphic"/>
      </filter>
    </defs>
    <g id="Component_2_1" data-name="Component 2 – 1" transform="translate(0 12.5)">
      <g transform="matrix(1, 0, 0, 1, 0, -12.5)" filter="url(#Rectangle_58)">
        <rect id="Rectangle_58-2" data-name="Rectangle 58" width="112" height="51" rx="20" transform="translate(1065 19.5)" fill="#23d62f"/>
      </g>
      <text id="_Send" data-name=" Send" transform="translate(1078 41)" fill="#fff" font-size="20" font-family="SegoeUI-Bold, Segoe UI" font-weight="700" letter-spacing="0.02em"><tspan x="0" y="0" xml:space="preserve"> Send</tspan></text>
      <path id="check" d="M20,6,9,17,4,12" transform="translate(1137.5 21)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
      <rect id="Rectangle_59" data-name="Rectangle 59" width="1037" height="65" rx="10" fill="#d3d4e3" opacity="0.61"/>
    </g>
  </svg>
  


  
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="683.5" height="118" viewBox="0 0 683.5 118">
    <defs>
      <filter id="Rectangle_61" x="541.5" y="7.5" width="142" height="96" filterUnits="userSpaceOnUse">
        <feOffset dy="3" input="SourceAlpha"/>
        <feGaussianBlur stdDeviation="7.5" result="blur"/>
        <feFlood flood-opacity="0.161"/>
        <feComposite operator="in" in2="blur"/>
        <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="Rectangle_60" x="109" y="0" width="277" height="118" filterUnits="userSpaceOnUse">
        <feOffset dy="3" input="SourceAlpha"/>
        <feGaussianBlur stdDeviation="10" result="blur-2"/>
        <feFlood flood-opacity="0.161"/>
        <feComposite operator="in" in2="blur-2"/>
        <feComposite in="SourceGraphic"/>
      </filter>
      <filter id="Rectangle_60-2" x="109" y="0" width="277" height="118" filterUnits="userSpaceOnUse">
        <feOffset dy="3" input="SourceAlpha"/>
        <feGaussianBlur stdDeviation="10" result="blur-3"/>
        <feFlood flood-opacity="0.161" result="color"/>
        <feComposite operator="out" in="SourceGraphic" in2="blur-3"/>
        <feComposite operator="in" in="color"/>
        <feComposite operator="in" in2="SourceGraphic"/>
      </filter>
    </defs>
    <g id="Component_2_1" data-name="Component 2 – 1" transform="translate(0 27)">
      <text id="Photo:-" transform="translate(0 39)" fill="#212470" font-size="30" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="0">Photo:-</tspan></text>
      <g transform="matrix(1, 0, 0, 1, 0, -27)" filter="url(#Rectangle_61)">
        <rect id="Rectangle_61-2" data-name="Rectangle 61" width="97" height="51" rx="20" transform="translate(564 27)" fill="#23d62f"/>
      </g>
      <text id="Submit" transform="translate(587 32)" fill="#fff" font-size="15" font-family="SegoeUI-Bold, Segoe UI" font-weight="700" letter-spacing="0.02em"><tspan x="0" y="0">Submit</tspan></text>
      <g data-type="innerShadowGroup">
        <g transform="matrix(1, 0, 0, 1, 0, -27)" filter="url(#Rectangle_60)">
          <rect id="Rectangle_60-3" data-name="Rectangle 60" width="217" height="58" rx="10" transform="translate(139 27)" fill="#c7caff"/>
        </g>
        <g transform="matrix(1, 0, 0, 1, 0, -27)" filter="url(#Rectangle_60-2)">
          <rect id="Rectangle_60-4" data-name="Rectangle 60" width="217" height="58" rx="10" transform="translate(139 27)" fill="#fff"/>
        </g>
      </g>
      <text id="Choose_file" data-name="Choose file" transform="translate(174 38)" fill="#212470" font-size="25" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="0">Choose file</tspan></text>
      <text id="No_file_chosen" data-name="No file chosen" transform="translate(386 34)" fill="#212470" font-size="15" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="0">No file chosen</tspan></text>
    </g>
  </svg>
  
</div>


<%- include('../partials/footer'); -%>