
<%- include('./partials/header'); -%>

<div class="sidebar">
    <div class="container">
    <ul>
        <li >
            <div class="box">
                <a href="/dashboard">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1">
                    </path><polygon points="12 15 17 21 7 21 12 15"></polygon>
                </svg>
                <p>Dashboard</p>
                </a>
            </div>
        </li>
        <li >
            <div class="box">
                <a href="/viewDoctor">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square">
                    <polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                </svg>
                <p>View Doctor</p>
                </a>
            </div>
        </li>
        <li >
            <div class="box">
                <a href="/addDoctor">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" 
                    y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line>
                </svg>
                <p>Add Doctor</p>
                </a>
            </div>
        </li>
        <li class="logout">
            <div class="box">
                <a href="/">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                    class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <p>Logout</p>
                </a>
            </div>
        </li>
      
    </ul>
</div>
</div>
 <!-- ---------------------------------------------------------------------------------------------------------------------- -->

 <div class="left-container">
    <h1 class="text-design overview">Overview</h1>
    <p class="sub-content">Welcome back, Adrianne John Basuel</p>
    
 </div>

<div class="right-container">
     <div class="right-position1">
        <div class="green-border-rectangle">
            <p class="admin-form">
                Admin
            <svg 
                xmlns="http://www.w3.org/2000/svg" width="19" height="19" 
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 
                5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
            </svg>
            </p>
        </div>
     </div>
</div>

<div class="right-container text-design">
    <div class="right-position2">
        <img class="img-position" src="/images/boy.png" alt="boy "> 
    </div>
</div>

<div class="right-container">
    <div class="right-position3">
        <p class="text-design ">Adrianne Basuel</p>
    </div>
</div>


<div class="middle-container1">
    <h1 class="data-text">USERS</h1>
    <h1 class="text-design data">1000</h1>
</div>

<div class="middle-container2">
    <h1 class="data-text">DOCTORS</h1>
    <h1 class="text-design data">10</h1> 

</div>


<!--  USE SOME SORT OF FORM HERE -->

 <div class="middle-container3">
    <p>_____________________________________________________________________________________________________________________________________________________________________________________________</p>
    <h2 class="text-design data">USERS</h2>

    <svg id="Component_2_1" data-name="Component 2 – 1" xmlns="http://www.w3.org/2000/svg" width="1353" height="69" viewBox="0 0 1353 69">
        <rect id="Rectangle_6" data-name="Rectangle 6" width="1350" height="69" rx="10" transform="translate(3)" fill="#e4e9f1"/>
        <rect id="Rectangle_13" data-name="Rectangle 13" width="264" height="69" rx="10" fill="#cbcbcb"/>
        <text id="ID_Number" data-name="ID Number" transform="translate(47 45)" font-size="25" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">ID Number</tspan></text>
        <text id="Name" transform="translate(301 46)" font-size="25" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">Name</tspan></text>
        <text id="Mobile_No." data-name="Mobile No." transform="translate(570 45)" font-size="25" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">Mobile No.</tspan></text>
        <text id="Email" transform="translate(833 45)" font-size="25" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">Email</tspan></text>
        <g id="Component_1_1" data-name="Component 1 – 1" transform="translate(186 25)">
          <path id="Polygon_1" data-name="Polygon 1" d="M6.5,0,13,8H0Z"/>
          <path id="Polygon_2" data-name="Polygon 2" d="M6.5,0,13,8H0Z" transform="translate(13 21) rotate(180)" fill="#dfdfdf"/>
        </g>
        <g id="Component_1_2" data-name="Component 1 – 2" transform="translate(382 25)">
          <path id="Polygon_1-2" data-name="Polygon 1" d="M6.5,0,13,8H0Z"/>
          <path id="Polygon_2-2" data-name="Polygon 2" d="M6.5,0,13,8H0Z" transform="translate(13 21) rotate(180)" fill="#dfdfdf"/>
        </g>
        <g id="Component_1_5" data-name="Component 1 – 5" transform="translate(702 25)">
          <path id="Polygon_1-3" data-name="Polygon 1" d="M6.5,0,13,8H0Z"/>
          <path id="Polygon_2-3" data-name="Polygon 2" d="M6.5,0,13,8H0Z" transform="translate(13 21) rotate(180)" fill="#dfdfdf"/>
        </g>
        <g id="Component_1_6" data-name="Component 1 – 6" transform="translate(907 29)">
          <path id="Polygon_1-4" data-name="Polygon 1" d="M6.5,0,13,8H0Z"/>
          <path id="Polygon_2-4" data-name="Polygon 2" d="M6.5,0,13,8H0Z" transform="translate(13 21) rotate(180)" fill="#dfdfdf"/>
        </g>
    </svg>
      
      
      <div class="table">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1395" height="114" viewBox="0 0 1395 114">
            <defs>
              <filter id="Rectangle_5" x="0" y="0" width="1395" height="114" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="7.5" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="Component_3_1" data-name="Component 3 – 1" transform="translate(22.5 19.5)">
              <g transform="matrix(1, 0, 0, 1, -22.5, -19.5)" filter="url(#Rectangle_5)">
                <rect id="Rectangle_5-2" data-name="Rectangle 5" width="1350" height="69" transform="translate(22.5 19.5)" fill="#d8d8d8"/>
              </g>
              <g id="Rectangle_7" data-name="Rectangle 7" transform="translate(1)" fill="#fff" stroke="#707070" stroke-linejoin="round" stroke-width="1">
                <rect width="1350" height="69" rx="10" stroke="none"/>
                <rect x="0.5" y="0.5" width="1349" height="68" rx="9.5" fill="none"/>
              </g>
            </g>
          </svg>
      </div>
      
      
 </div>
    
      
      
      

</div>




 

<%- include('./partials/footer'); -%>