<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/d0f58a405a.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="css/landingPage.css">
    <link rel="icon" href="images/favicon.ico">
    <title>E-HealthCare Online</title>
  </head>
  <body>

    <section id="home">
    <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg">
                <img src="images/logo.png" alt="logo" width = "150">
                <a class="navbar-brand" href="#"><span class="medical">ABD</span> Medical</a>
                <img class="triangle" src="images/weird-triangle.png" alt="triangle">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <form action="/sign-In" method="post">
                            <!-- <a class="nav-link"><button type="submit" class="btn btn-danger"><span class="login">Log-In</span></button></a> -->
                            <button type="submit"class="btn btn-dark nav-link login">Log-In</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    
            <div class="row landing-page">
                <div class="col-sm-6">
                    <h2 class="title-page">E-Healthcare Online Consultation & Subscription</h2>
                    <form action="/sign-In" method="post">
                        <button type="submit"class="btn btn-dark get-started">Get Started<i class="fas fa-arrow-circle-right"></i></button>
                    </form>
                    <img class="scroll"src="images/scroll.svg" alt="scroll">
                </div>
                <div class="col-sm-6">
                    <img class="bg-img"src="images/Picture1.png" alt="bg-design">
                    <img class="business-man"src="images/Picture2.png" alt="business-man">
                </div>
            </div>
    </div>
    </section>

    <section id="about">
        <div class="container-fluid">
            <h2 class="choose">WHY CHOOSE US?</h2>
            <p class="main-features"> 
            Because we have the fashion and expertise to do so. If you're
            still not convince, check this information below.  
            </p>

            <div class="row">
                <div class="col-sm-6">
                    
                    <p class="sub-features"><img class="features"src="images/product.svg" alt="product">Awesome Product</p>
                    <p class="text-features">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna </p>
                </div>
                <div class="col-sm-6">
                    <p class="sub-features"><img class="features"src="images/update.svg" alt="product">Fast Update</p>
                    <p class="text-features">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="sub-features"><img class="features"src="images/service.svg" alt="product">Great Service</p>
                    <p class="text-features">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna </p>
                </div>
                <div class="col-sm-6">
                    <p class="sub-features"><img class="features"src="images/support.svg" alt="product">24hr Support</p>
                    <p class="text-features">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna </p>
                </div>
            </div>
        </div>
    </section>


    <section id="products">
        <h1 class="product-title">PRODUCTS</h1>
    </section>

    <footer id="contact">
        <h1 class="contactUs">CONTACT US:</h1>
        <ul class="list">
            <li class="list-item"><a href="#">a.basuel.516960@umindanao.edu.ph</a></li>
            <li class="list-item"><a href="#">j.arreza.518960@umindanao.edu.ph</a></li>
            <li class="list-item"><a href="#">k.diendo.517055@umindanao.edu.ph</a></li>
        </ul>
        <img class="uni" src="images/um.png" alt="school">
    </footer>

    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>